@model IEnumerable<RoleViewModel>
@using static HumanCapitalManagement.Common.GeneralConstants;

@{
    ViewBag.Title = "All Roles";
    string currentUserRole = this.Context.Session.GetString("Role")!;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var r in Model)
    {
        <div class="card col-4 mb-2 ms-2" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@r.Name</h5>
            </div>
        </div>
    }
    @if (!Model.Any())
    {
        <p>No roles created yet!</p>
    }

    @if (currentUserRole == AdminRoleName)
    {
        <a asp-controller="Role" asp-action="Add" class="btn btn-outline-secondary mb-2 w-100 p-3 fw-bold">Create Role</a>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
