@{
    Layout = null;
    ViewBag.Title = "403 Error - Forbidden";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style>
        html {
            background-color: khaki
        }

        .error-container {
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1 class="animate__animated animate__bounceIn">@ViewBag.Title</h1>
        <p class="animate__animated animate__fadeIn">Oops! You asked for a resource that you don't have access to.</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script>
        $(document).ready(function () {
            gsap.from(".error-container", { opacity: 0, duration: 1, delay: 0.5, y: -50 });
            gsap.from("h1", { opacity: 0, duration: 1, delay: 1, y: -50 });
            gsap.from("p", { opacity: 0, duration: 1, delay: 0.5, y: -40 });
        });
    </script>
</body>
</html>